@import './components.less';

body,
html {
    width: 100%;
    height: 100%;
    font-size: 14px;
}


/* 全局提示 */

.ivu-message {
    z-index: 1040 !important;
}


/* 文字按钮样式 */

.ivu-btn-text:focus {
    box-shadow: none;
}

.div_right {
    float: right;
    border: 5px;
    padding: 5px;
  }

.div_left {
  float: left;
  border: 5px;
  padding: 5px;
}
